body {
	background: #2c2c2c;
    color: aliceblue;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
